body{
    background-color:#b7edbd;
    background-image: url('coniglio\ fuzzy\ lop.png');
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 100% 40%;
}
.main-title{
    font-size: 200px;
}